* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --MainColor: #2196f3;
  --MainAlterColor: #1787e0;
  --MainTransition: 300ms;
  --SectionBackground: #ececec;
  --MainLineHeight: 1.5;
  --BlackColor: #333;
  --HoveringBackground: #fafafa;
  --MainSectionPaddingTop: 100px;
  --MainSectionPaddingBottom: 100px;
  --SectionTopMargin: 100px;
  --ParaColor: #777;
}

/* Global Rules */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small-Screen Container */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Med-Screen Container */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large-Screen Container */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Section's Main Title */
.main-title {
  text-transform: uppercase;
  color: black;
  font-size: 30px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto 80px;
  position: relative;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--MainAlterColor);
  z-index: -1;
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  animation-name: outside-in-left;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes outside-in-left {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

.main-title:hover::after {
  animation-name: outside-in-right;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes outside-in-right {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 500ms;
}

/* Spikes */
.spikes::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(-135deg, white 25%, transparent 25%),
  linear-gradient(135deg, white 25%, transparent 25%);
  background-size: 30px;
}

/* Header Start */
header {
  box-shadow: 0 0 10px #ddd;
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 60px; */
  position: relative;
}

header .container > a {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--MainColor);
  height: 100%;
  font-weight: bold;
}

header .container > ul {
  display: flex;
  align-items: center;
  height: 60px;;
}

header .container > ul > li  {
  text-transform: capitalize;
  height: 100%;
  display: flex;
  align-items: center;
}

header .container > ul > li > a {
  color: var(--BlackColor);
  position: relative;
  padding: 0 30px;
  font-size: 19px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
  overflow: hidden;
}

header .container > ul > li > a::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--MainColor);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

header .container > ul > li > a:hover::before {
  left: 0;
}

header .container > ul > li > a:hover {
  background-color: var(--HoveringBackground);
  color: var(--MainColor);
}

header .container .mega-menu {
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--MainColor);
  opacity: 0;
  z-index: -1;
  background-color: white;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

header .container .mega-menu img {
  margin-right: 60px;
}

header .container .mega-menu ul:first-of-type {
  margin-right: 60px;
}

header .container .mega-menu .col li {
  color: var(--MainColor);
  border-bottom: 1px solid #e9e6e6;
  padding-top: 10px;
  padding-right: 90px;
  padding-bottom: 10px;
  font-size: 18px;
}

header .container .mega-menu .col li i {
  margin-right: 10px;
}

header .container .mega-menu .col li a {
  color: var(--MainColor);
  text-transform: capitalize;
  font-weight: bold;
}

header .container > ul > li:last-child:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
} 

/* Responsiveness Styling */
@media (max-width: 992px) {
  header .container > ul > li .mega-menu img {
    display: none;
  }
  header .container > ul > li .mega-menu .col {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }
  header .container > ul > li > a {
    font-size: 14px;
    padding: 10px;
  }

  header .container ul li .mega-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  header .container .mega-menu ul:first-of-type {
    margin-right: 0;
  }
  header .container > ul > li .mega-menu .col {
    padding-left: 20px;
  }
}
/* Header End */
/* Landind Start */
.landing {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 60px);
}

.landing::before {
  content: "";
  position: absolute;
  background-color: #ececec;
  top: 0;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
}

.landing .container {
  position: relative;
}

.landing .container .content {
  display: flex;
}

.landing .container .content article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .container .content article div h2 {
  text-transform: capitalize;
  font-size: 40px;
  letter-spacing: -2px;
}

.landing .container .content article div p {
  color: #666;
  font-size: 23px;
  line-height: 1.7;
  font-weight: normal;
}

.landing .container .content img {
  width: 600px;
  margin-left: 30px;
  position: relative;
  top: 30px;
  animation-name: top-down;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes top-down {
  50% {
    top: -30px;
  }
  100% {
    top: 30px;
  }
}

.landing .container .arrows {
  position: absolute;
  left: 50%;
  bottom: -130px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  animation-name: arrow-p-change;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.landing .container .arrows:hover {
  animation-play-state: paused;
}

@keyframes arrow-p-change {
  25% {
    bottom: -110px;
  }
  50% {
    bottom: -130px;
  }
  65% {
    bottom: -110px;
  }
  80% {
    bottom: -130px;
  }
  100% {
    bottom: -130px;
  }
}

.landing .container .arrows i {
  color: var(--MainAlterColor);
  font-size: 30px;
  font-weight: bold;
}

/* Responsiveness Styling */
@media (max-width: 992px) {
  .landing .container .content img {
    display: none;
  }
  .landing .container {
    top: 50%;
    transform: translateY(-100%);
  }
  .landing .container .content article div {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .landing .container .content article div h2 {
    font-size: 28px;
  }
  .landing .container .content article div p {
    font-size: 18px;
  }
}
/* Landind End */
/* Article Start */
.article {
  padding-top: var(--MainSectionPaddingTop);
}

.article .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}

.article .container .content article {
  position: relative;
  top: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.article .container .content article:hover {
  top: -10px;
}

.article .container .content article:hover .footer i {
  animation-name: move-right;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

@keyframes move-right {
  100% {
    transform: translatex(10px);
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -ms-transform: translatex(10px);
    -o-transform: translatex(10px);
  }
}

.article .container .content article img {
  max-width: 100%;
}

.article .container .content article h3 {
  text-transform: capitalize;
}

.article .container .content article > p {
  color: #777;
}

.article .container .content article hr {
  margin: 15px 0;
  border:1px solid #e6e6e7;
}

.article .container .content article .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px;
}

.article .container .content article .footer p,
.article .container .content article .footer i {
  text-transform: capitalize;
  color: var(--MainColor);
  font-weight: bold;
}
/* Article End */
/* Gallery Start */
.gallery {
  margin-top: var(--SectionTopMargin);
  padding-top: var(--MainSectionPaddingTop);
  padding-bottom: var(--MainSectionPaddingBottom);
  background-color: var(--SectionBackground);
  position: relative;
  z-index: 0;
}

.gallery .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .container .content div {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 4px 5px rgb(0 0 0 / 25%);
  position: relative;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
  overflow: hidden;
}

.gallery .container .content div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 0.2);
  width: 0;
  height: 0;
  opacity: 0;
}

.gallery .container .content div:hover::before {
  animation-name: flashing;
  animation-duration: var(--MainTransition);
  animation-timing-function: linear;
}

.gallery .container .content div:hover {
  padding: 0;
}

@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

.gallery .container .content div img {
  max-width: 100%;
  height: 100%;
}
/* Gallery End */
/* Features Start */
.features {
  padding-top: var(--MainSectionPaddingTop);
  padding-bottom: var(--MainSectionPaddingBottom);
}

.features .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .container .content article {
  border: 1px solid #ccc;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
}

.features .container .content article .img {
  position: relative;
  overflow: hidden;
}

.features .container .content article .img::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 170px 600px;
  border-color: transparent transparent white transparent;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.features .container .content article:hover .img::after {
  border-width: 170px 600px 170px 0px;
}

.features .container .content article .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.features .container .content article:first-child .img::before {
  background-color: rgb(244 64 54 / 60%);
}

.features .container .content article:nth-child(2) .img::before {
  background-color: rgb(0 150 136 / 60%);
}

.features .container .content article:last-child .img::before {
  background-color: rgb(3 169 244 / 60%);
}

.features .container .content article .img img {
  max-width: 100%;
}

.features .container .content article .title {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.features .container .content article .title::before {
  content: "";
  position: absolute;
  left: 10%;
  top: 100%;
  width: 80%;
  height: 5px;
}

.features .container .content article:first-child .title::before {
  background-color: #f44036;
}

.features .container .content article:nth-child(2) .title::before {
  background-color: #009688;
}

.features .container .content article:last-child .title::before {
  background-color: #03a9f4;
}

.features .container .content article p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
  text-align: justify;
}

.features .container .content article a {
  font-weight: bold;
  text-transform: capitalize;
  padding: 7px 35px;
  border: 2px solid;
  border-radius: 8px;
  font-size: 20px;
  position: relative;
  
}



.features .container .content article a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
  z-index: -1;
}

.features .container .content article:first-child a {
  color: #f44036;
  border-color: #f44036;
  border: 2px solid #f44036;
  border-radius: 8px;
}



.features .container .content article:first-child:hover a::before {
  width: 100%;
  background-color: #f44036;
}

.features .container .content article:nth-child(2) a {
  color: #009688;
  border-color: #009688;
}

.features .container .content article:nth-child(2):hover a::before {
  width: 100%;
  background-color: #009688;
}

.features .container .content article:last-child a {
  color: #03a9f4;
  border-color: #03a9f4;
}

.features .container .content article:last-child:hover a::before {
  width: 100%;
  background-color: #03a9f4;
}

.features .container .content article:hover a {
  color: white;
}
/* Features End */
/* Testimonials Start */
.test {
  margin-top: var(--SectionTopMargin);
  padding-top: var(--MainSectionPaddingTop);
  padding-bottom: var(--MainSectionPaddingBottom);
  background-color: var(--SectionBackground);
  position: relative;
  z-index: 0;
}

.test .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.test .container .content article {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.test .container .content article .img img {
  --test-dimensions: 90px;
  width: var(--test-dimensions);
  height: var(--test-dimensions);
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  right: -5%;
  background-color: var(--SectionBackground);
}

.test .container .content article h3 {
  text-transform: capitalize;
}

.test .container .content article h4 {
  text-transform: capitalize;
  color: var(--ParaColor);
}

.test .container .content article:first-child .rate i:not(:last-child),
.test .container .content article:nth-child(2) .rate i:not(:last-child),
.test .container .content article:nth-child(3) .rate i:not(:last-child) {
  color: gold;
}

.test .container .content article:nth-child(4) .rate i {
  color: gold;
}

.test .container .content article:nth-child(5) .rate .fa-solid,
.test .container .content article:last-child .rate .fa-solid {
  color: gold;
}

.test .container .content article p {
  color: var(--ParaColor);
  text-align: justify;
}

@media (max-width: 768px) {
  .test .container .content article .img img {
    right: 0;
  }
}
/* Testimonials End */
/* Team Members Start */
.team-members {
  margin-top: var(--SectionTopMargin);
}

.team-members .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.team-members .container .content article {
  position: relative;
  background-color: transparent;
  padding-top: 50px;
  padding-bottom: 50px;
}

.team-members .container .content article::after,
.team-members .container .content article::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.team-members .container .content article::after {
  background-color: #f3f3f3;
  z-index: -2;
  width: 80%;
}

.team-members .container .content article::before {
  background-color: #ebe3e3;
  z-index: -1;
  width: 0;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.team-members .container .content article:hover::before {
  width: 80%;
}

.team-members .container .content article .img-links {
  display: flex;
  justify-content: space-evenly;
}

.team-members .container .content article .img-links img {
  max-width: 80%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.team-members .container .content article:hover .img-links img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.team-members .container .content article .img-links .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-members .container .content article .img-links .links a {
  margin: 10px 0;
  color: #777;
}

.team-members .container .content article h3 {
  font-size: 22px;
  color: var(--MainColor);
  text-transform: capitalize;
  margin-top: 20px;
  padding-left: 85px;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.team-members .container .content article:hover h3 {
  color: #777;
}

.team-members .container .content article p {
  text-transform: capitalize;
  padding-left: 85px;
}
/* Team Members End */
/* Services Start */
.services {
  position: relative;
  margin-top: var(--SectionTopMargin);
  padding-top: var(--MainSectionPaddingTop);
  padding-bottom: var(--MainSectionPaddingBottom);
  background-color: var(--SectionBackground);
  z-index: 0;
}

.services .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .container .content article {
  background-color: white;
  text-align: center;
  box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 20%);
  position: relative;
  top: 0;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.services .container .content article:hover {
  top: -10px;
}

.services .container .content article::before,
.services .container .content article::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 2px;
  background-color: var(--MainColor);
  transition: width var(--MainTransition);
  -webkit-transition: width var(--MainTransition);
  -moz-transition: width var(--MainTransition);
  -ms-transition: width var(--MainTransition);
  -o-transition: width var(--MainTransition);
}

.services .container .content article::before {
  left: 50%;
}

.services .container .content article:hover::before,
.services .container .content article:hover::after {
  width: 50%;
}

.services .container .content article::after {
  right: 50%;
}

.services .container .content article i {
  color: #d5d5d5;
  font-size: 60px;
  margin: 20px 0;
}

.services .container .content article h3 {
  text-transform: capitalize;
  color: var(--MainColor);
  font-size: 25px;
  margin-bottom: 37px;
}

.services .container .content article .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-image: linear-gradient(115deg, var(--MainColor) 88px, #d5d5d5 88px 126px, transparent 40px);
}

.services .container .content article .footer div {
  font-size: 25px;
  font-weight: bolder;
  color: white;
}

.services .container .content article .footer a {
  text-transform: capitalize;
  color: var(--MainColor);
}
/* Services End */
/* Our-Skills Start */
.our-skills {
  margin-top: var(--SectionTopMargin);
}

.our-skills .container .content article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-skills .container .content article .info {
  width: 100%;
}

.our-skills .container .content article .info div {
  width: 100%;
  height: 30px;
  background-color: #eee;
  margin: 60px 0;
  position: relative;
}

.our-skills .container .content article .info div::after {
  position: absolute;
  top: -42px;
  right: 0;
  color: var(--MainColor);
  font-size: 14px;
  font-weight: bold;
  border: 1px solid var(--MainAlterColor);
  padding: 0 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.our-skills .container .content article .info .html::after {
  content: "80%";
}

.our-skills .container .content article .info .css::after {
  content: "85%";
}

.our-skills .container .content article .info .javascript::after {
  content: "70%";
}

.our-skills .container .content article .info .python::after {
  content: "80%";
}

.our-skills .container .content article .info div::before {
  position: absolute;
  top: -45px;
  left: 0;
  font-size: 22px;
  font-weight: bold;
}

.our-skills .container .content article .info .html::before {
  content: "HTML";
}
.our-skills .container .content article .info .css::before {
  content: "CSS";
}
.our-skills .container .content article .info .javascript::before {
  content: "JavaScript";
}
.our-skills .container .content article .info .python::before {
  content: "Python";
}

.our-skills .container .content article .info .html span,
.our-skills .container .content article .info .css span,
.our-skills .container .content article .info .javascript span,
.our-skills .container .content article .info .python span {
  display: block;
  height: 100%;
  background-color: var(--MainColor);
}

.our-skills .container .content article .info .html span {
  width: 80%;
}

.our-skills .container .content article .info .css span {
  width: 85%;
}

.our-skills .container .content article .info .javascript span {
  width: 70%;
}

.our-skills .container .content article .info .python span {
  width: 80%;
}

@media (max-width: 992px) {
  .our-skills .container .content article img {
    display: none;
  }
}
/* Our-Skills End */
/* How-it-Works Start */
.how-it-works {
  position: relative;
  padding-top: var(--MainSectionPaddingTop);
  padding-bottom: var(--MainSectionPaddingBottom);
  margin-top: var(--SectionTopMargin);
  background-color: var(--SectionBackground);
  z-index: 0;
}

.how-it-works .container .content {
  display: flex;
  align-items: center;
}

.how-it-works .container .content > img {
  margin-right: 100px;
  max-width: 100%;
}

.how-it-works .container .content .cards .card {
  background-color: #f6f5f5;
  display: flex;
  align-items: center;
  padding: 25px;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.how-it-works .container .content .cards .card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.how-it-works .container .content .cards .card:hover::before {
  width: 100%;
  height: 100%;
}

.how-it-works .container .content .cards .card:nth-child(2) {
  margin: 22px 0;
}

.how-it-works .container .content .cards .card img {
  width: 64px;
  margin-right: 30px;
  position: relative;
}

.how-it-works .container .content .cards .card div h3 {
  text-transform: capitalize;
  font-size: 22px;
  position: relative;
}

.how-it-works .container .content .cards .card div p {
  color: #777;
  line-height: 1.7;
  font-size: 18px;
  margin-top: 10px;
  text-align: justify;
  position: relative;
}

/* Responsiveness Styling */
@media (max-width: 992px) {
  .how-it-works .container .content {
    flex-direction: column;
  }
  .how-it-works .container .content > img {
    margin-right: 0;
    margin-bottom: 100px;
  }
  .how-it-works .container .content .cards .card {
    flex-direction: column;
  }
  .how-it-works .container .content .cards .card img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .how-it-works .container .content .cards .card div {
    text-align: center;
  }
}
/* How-it-Works End */
/* Latest-Events Start */
.latest-events {
  padding-top: var(--MainSectionPaddingTop);
  padding-bottom: var(--MainSectionPaddingBottom);
}

.latest-events .container {
  position: relative;
}

.latest-events .container > img {
  position: absolute;
  z-index: -1;
}

.latest-events .container > img:first-of-type {
  top: 100px;
  right: 0;
}

.latest-events .container > img:last-of-type {
  bottom: 100px;
  left: 0;
}

.latest-events .container .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest-events .container .content img {
  width: 405px;
  margin-right: 30px;
}

.latest-events .container .content .news .counter {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  background-color: white;
}

.latest-events .container .content .news .counter div {
  font-size: 35px;
  font-weight: bold;
  color: var(--MainColor);
  border: 1px solid #e0d6d6;
  margin: 0 10px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  position: relative;
  text-align: center;
  width: 70px;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.latest-events .container .content .news .counter div::after {
  position: absolute;
  width: 100%;
  height: 20%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -28px;
  font-size: 15px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border: 1px solid;
  border-color: transparent #e0d6d6 #e0d6d6;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}
.latest-events .container .content .news .counter :first-child:after {
  content: "Days";
}
.latest-events .container .content .news .counter :nth-child(2):after {
  content: "Hours";
}
.latest-events .container .content .news .counter :nth-child(3):after {
  content: "Minutes";
}
.latest-events .container .content .news .counter :last-child:after {
  content: "Seconds";
}

.latest-events .container .content .news .counter div:hover,
.latest-events .container .content .news .counter div:hover::after {
  border-color: var(--MainColor);
}

.latest-events .container .content .news .announce {
  margin-top: 75px;
  text-align: center;
}

.latest-events .container .content .news .announce h3 {
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.latest-events .container .content .news .announce p {
  color: var(--ParaColor);
  font-size: 19px;
  line-height: 1.7;
  text-align: justify;
}

.latest-events .container form {
  width: fit-content;
  margin: 100px auto 0;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  max-width: 100%;
}

.latest-events .container form input[type="email"] {
  padding: 20px;
  width: 413px;
  max-width: 100%;
  margin-right: 15px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  outline: none;
  border: none;
}

.latest-events .container form input[type="email"]::placeholder {
  text-transform: capitalize;
  font-size: 17px;
}

.latest-events .container form input[type="submit"] {
  padding: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: var(--MainColor);
  color: white;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: bold;
  width: 143px;
  max-width: 100%;
  cursor: pointer;
  border: none;
}

/* Respovsiveness Styling */
@media (max-width: 992px) {
  .latest-events .container img {
    display: none;
  }
}

@media (max-width: 768px) {
  .latest-events .container form {
    text-align: center;
  }
  .latest-events .container form input[type="email"] {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .latest-events .container .content .news .counter div {
    width: 66px;
  }
}
/* Latest-Events End */
/* Pricing Start */
.pricing {
  margin-top: var(--SectionTopMargin);
  padding-top: var(--MainSectionPaddingTop);
  padding-bottom: var(--MainSectionPaddingBottom);
  position: relative;
  z-index: 0;
  background-color: var(--SectionBackground);
}

.pricing .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 40px;
  row-gap: 60px;
}

.pricing .container .content article {
  background-color: white;
  box-shadow: 2px 2px 2px 1px #b6b2b2;
  padding: 20px 0 35px;
  position: relative;
  z-index: 0;
}
.pricing .container .content article::before,
.pricing .container .content article::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}
.pricing .container .content article::before {
  top: 0;
  left: 0;
}
.pricing .container .content article::after {
  bottom: 0;
  right: 0;
}
.pricing .container .content article:hover::before,
.pricing .container .content article:hover::after {
  width: 100%;
}

.pricing .container .content article:nth-child(2) {
  transform: translateY(-22px);
  -webkit-transform: translateY(-22px);
  -moz-transform: translateY(-22px);
  -ms-transform: translateY(-22px);
  -o-transform: translateY(-22px);
}

.pricing .container .content article:nth-child(2) .pop {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 44px;
  transform: rotate(90deg) translateY(-52px) translateX(67px);
}

.pricing .container .content article:nth-child(2) .pop div {
  width: fit-content;
  background-color: var(--MainColor);
  color: white;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--MainColor);
}

.pricing .container .content article:nth-child(2) .pop div span {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.pricing .container .content article:nth-child(2) .pop > span {
  border-style: solid;
  --bwidth: 22px;
  border-top-width: var(--bwidth);
  border-right-width: var(--bwidth);
  border-bottom-width: var(--bwidth);
  border-left-width: 15px;
  border-top-color: var(--MainColor);
  border-right-color: transparent;
  border-bottom-color: var(--MainColor);
  border-left-color: var(--MainColor);
}

.pricing .container .content article .header {
  text-align: center;
}

.pricing .container .content article .header h3 {
  text-transform: capitalize;
  font-size: 24px;
}

.pricing .container .content article .header i {
  font-size: 50px;
  color: var(--MainColor);
  margin: 20px 0 50px;
}

.pricing .container .content article .header div {
  font-size: 55px;
  color: var(--MainColor);
  font-weight: bolder ;
  line-height: .5;
}

.pricing .container .content article .header div span {
  font-size: 15px;
  color: black;
  font-weight: normal;
  text-transform: capitalize;
}

.pricing .container .content article ul {
  margin: 20px 0 30px;
  width: 100%;
  border-top: 1px solid #998f8f17;
  border-bottom: 1px solid #998f8f17;;
}

.pricing .container .content article ul li {
  display: flex;
  align-items: center;
  padding: 20px;
}

.pricing .container .content article ul li:not(:last-of-type) {
  border-bottom: 1px solid #998f8f17;;
}

.pricing .container .content article ul li i {
  color: var(--MainColor);
  margin-right: 10px;
}

.pricing .container .content article a {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: var(--MainColor);
  font-size: 17px;
  font-weight: bolder;
  border: 2px solid var(--MainColor);
  padding: 8px 20px;
  text-transform: capitalize;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.pricing .container .content article a:hover {
  background-color: var(--MainColor);
  color: white;
}
/* Pricing End */
/* Video Start */
.video {
  padding-top: var(--MainSectionPaddingTop);
  padding-bottom: var(--MainSectionPaddingBottom);
}

.video .container .content {
  display: flex;
  border: 1px solid rgb(214, 207, 207);
  /* align-items: center; */
}

.video .container .content article:first-child  {
  display: flex;
  flex-direction: column;
}

.video .container .content article:first-child > div,
.video .container .content article:first-child > a {
  flex-basis: 12.5%;
}

.video .container .content article:first-child > div {
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 276px;
}

.video .container .content article:first-child > div p {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 16px;
}

.video .container .content article:first-child a {
  padding: 10px 20px;
  border-top: 1px solid rgb(214, 207, 207);
  position: relative;
}
.video .container .content article:first-child a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #f4f4f4;
  z-index: -1;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}
.video .container .content article:first-child a:hover::after {
  width: 100%;
}
.video .container .content article:first-child a:hover p {
  color: var(--MainColor);
}

.video .container .content article:first-child a p {
  color: black;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.video .container .content article:first-child a div {
  color: var(--ParaColor);
}

.video .container .content article:last-child {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video .container .content article:last-child img {
  max-width: 100%;
}

.video .container .content article:last-child p {
  background-color: white;
  padding: 10px 20px;
}

/* Responsiveness Styling */
@media (max-width: 992px) {
  .video .container .content {
    flex-direction: column;
  }
  .video .container .content article:first-child > div {
    width: 100%;
  }
  .video .container .content article:last-child img {
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .video .container .content article:last-child {
    text-align: center;
  }
}
/* Video End */
/* Statis Start */
.statis {
  background-image: url(../imgs/stats.jpg);
  background-size: cover;
  position: relative;
}
.statis::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(244 244 244 / 91%);
  width: 100%;
  height: 100%;
}

.statis .container .content {
  position: relative;
  padding: 70px 0;
}

.statis .container .content h2 {
  text-transform: capitalize;
  font-size: 30px;
  width: fit-content;
  margin: 0 auto;
}

.statis .container .content .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  margin-top: 40px;
}

.statis .container .content .cards .card {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.statis .container .content .cards .card::before,
.statis .container .content .cards .card::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--MainAlterColor);
  height: 0;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}
.statis .container .content .cards .card::before {
  bottom: 0;
  left: 0;
}
.statis .container .content .cards .card::after {
  top: 0;
  right: 0;
}
.statis .container .content .cards .card:hover::before,
.statis .container .content .cards .card:hover::after {
  height: 100%;
}
.statis .container .content .cards .card:hover i,
.statis .container .content .cards .card:hover div:nth-child(2) {
  color: black;
}
.statis .container .content .cards .card:hover div:last-child {
  color: var(--MainAlterColor);
}
.statis .container .content .cards .card i,
.statis .container .content .cards .card:hover div:nth-child(2),
.statis .container .content .cards .card:hover div:last-child {
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}


.statis .container .content .cards .card i {
  font-size: 30px;
  color: var(--BlackColor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33.33%;
}

.statis .container .content .cards .card div:nth-child(2) {
  font-size: 50px;
  color: var(--BlackColor);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33.33%;
}

.statis .container .content .cards .card div:last-child {
  font-size: 30px;
  color: var(--MainColor);
  letter-spacing: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33.33%;
  text-transform: capitalize;
  font-style: oblique;
}
/* Statis End */
/* Discount Start */
.disc .container .content {
  display: flex;
}

.disc .container .content .ann,
.disc .container .content .info {
  flex-basis: 50%;
}

.disc .container .content .ann {
  position: relative;
  background-image: url(../imgs/discount-background1.jpg);
  padding: 50px ;
  text-align: center;
}
.disc .container .content .ann::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--MainColor);
  opacity: 0.97;
}

.disc .container .content .ann h2,
.disc .container .content .ann p,
.disc .container .content .ann img {
  position: relative;
}

.disc .container .content .ann h2 {
  text-transform: capitalize;
  color: white;
  font-size: 35px
}

.disc .container .content .ann p {
  color: white;
  line-height: 1.7;
  font-size: 18px;
  text-align: justify;
  margin: 20px 0;
}

.disc .container .content .ann img {
  width: 300px;
  max-width: 100%;
}

.disc .container .content .info {
  padding: 50px ;
  text-align: center;
}

.disc .container .content .info h2 {
  font-size: 35px;
  text-transform: capitalize;
  width: fit-content;
  margin: 0 auto;
}

.disc .container .content .info form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 295px;
}

.disc .container .content .info form input:not(:last-child),
.disc .container .content .info form textarea {
  margin-bottom: 40px;
  border: 1px solid;
  border-color: transparent transparent rgb(224, 219, 219) transparent;
  padding: 10px 20px;
  font-size: 17px;
  caret-color: var(--MainColor);
}
.disc .container .content .info form input:not(:last-child)::placeholder,
.disc .container .content .info form textarea::placeholder {
  text-transform: capitalize;
  font-size: 16px;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}
.disc .container .content .info form input:not(:last-child):focus::placeholder,
.disc .container .content .info form textarea:focus::placeholder {
  color: transparent;
}

.disc .container .content .info form input,
.disc .container .content .info form textarea {
  outline: none;
}

.disc .container .content .info form textarea {
  height: 200px;
}

.disc .container .content .info form input[type="submit"] {
  text-transform: capitalize;
  color: white;
  background-color: var(--MainColor);
  font-size: 20px;
  border: none;
  padding: 8px 0;
  font-weight: bold;
  cursor: pointer;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}
.disc .container .content .info form input[type="submit"]:hover {
  background-color: var(--MainAlterColor);
}

@media (max-width: 768px) {
  .disc .container .content {
    flex-direction: column;
  }
  .disc .container .content .ann {
    padding: 50px 20px;
  }
  .disc .container .content .ann h2 {
    font-size: 27px;
  }
  .disc .container .content .info {
    padding: 50px 20px;
  }
  .disc .container .content .info h2 {
    font-size: 27px;
  }
}
/* Discount End */
/* Footer Start */
footer {
  padding-top: var(--MainSectionPaddingTop);
  background-color: #191919;
}

footer .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

footer .container .content .one h1 {
  color: white;
  text-transform: capitalize;
  font-size: 50px;
}

footer .container .content .one div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

footer .container .content .one div a {
  background-color: #313131;
  padding: 15px 0;
  margin-right: 10px;
  flex-basis: calc(100% / 5);
  display: flex;
  justify-content: center;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}
footer .container .content .one div a:first-child:hover {
  background-color: rgb(90, 149, 238);
}
footer .container .content .one div a:nth-child(2):hover {
  background-color: rgb(40, 109, 212);
}
footer .container .content .one div a:last-child:hover {
  background-color: rgb(177, 45, 52);
}

footer .container .content .one div a i {
  font-size: 20px;
  color: #b9b9b9;
}

footer .container .content .one p {
  line-height: 2;
  color: #b9b9b9;
  text-align: justify;
}

footer .container .content .two {
  display: flex;
  flex-direction: column;
}

footer .container .content .two a {
  color: #b9b9b9;
  position: relative;
  padding-left: 25px;
  text-transform: capitalize;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}
footer .container .content .two a:hover {
  padding-left: 35px;
}
footer .container .content .two a:hover::before {
  padding-left: 10px;
}

footer .container .content .two a:not(:last-child) {
  border-bottom: 1px solid #747070;
}

footer .container .content .two a::before {
  content: "\f101";
  font: var(--fa-font-solid );
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--MainColor);
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

footer .container .content .three p {
  color: #b9b9b9;
  position: relative;
  padding-left: 40px;
}
footer .container .content .three p:first-child::before {
  content: "\f3c5";
  font: var(--fa-font-solid);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--MainColor);
  font-size: 30px;
}
footer .container .content .three p:nth-child(2)::before {
  content: "\f017";
  font: var(--fa-font-solid);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--MainColor);
  font-size: 30px;
}
footer .container .content .three p:last-child::before {
  content: "\f2a0";
  font: var(--fa-font-solid);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--MainColor);
  font-size: 30px;
}

footer .container .content .three p:nth-child(2) {
  margin: 30px 0;
}

footer .container .content .four {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  gap: 5px;
}

footer .container .content .four img {
  max-width: calc(100% / 3.19);
  padding: 2px;
  background-color: white;
}

footer > p {
  color: white;
  border-top: 1px solid #444;
  padding: 25px 0;
  margin: 50px 0 0;
  text-align: center;
} 

@media (max-width: 768px) {
  footer .container .content .one {
    text-align: center;
  }
  footer .container .content .one div {
    justify-content: center;
  }
}
/* Footer End */