* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --MainColor: #2196f3;
  --MainAlterColor: #1787e0;
  --MainTransition: 300ms;
  --SectionBackground: #ececec;
  --MainLineHeight: 1.5;
  --BlackColor: #333;
  --HoveringBackground: #fafafa;
  --MainSectionPaddingTop: 100px;
  --SectionTopMargin: 100px;
}

/* Global Rules */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small-Screen Container */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Med-Screen Container */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large-Screen Container */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-title {
  text-transform: uppercase;
  color: black;
  font-size: 30px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto 80px;
  position: relative;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--MainAlterColor);
  z-index: -1;
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  animation-name: outside-in-left;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes outside-in-left {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

.main-title:hover::after {
  animation-name: outside-in-right;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes outside-in-right {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 500ms;
}

/* Header Start */
header {
  box-shadow: 0 0 10px #ddd;
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 60px; */
  position: relative;
}

header .container > a {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--MainColor);
  height: 100%;
  font-weight: bold;
}

header .container > ul {
  display: flex;
  align-items: center;
  height: 60px;;
}

header .container > ul > li  {
  text-transform: capitalize;
  height: 100%;
  display: flex;
  align-items: center;
}

header .container > ul > li > a {
  color: var(--BlackColor);
  position: relative;
  padding: 0 30px;
  font-size: 19px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
  overflow: hidden;
}

header .container > ul > li > a::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--MainColor);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

header .container > ul > li > a:hover::before {
  left: 0;
}

header .container > ul > li > a:hover {
  background-color: var(--HoveringBackground);
  color: var(--MainColor);
}

header .container .mega-menu {
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--MainColor);
  opacity: 0;
  z-index: -1;
  background-color: white;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

header .container .mega-menu img {
  margin-right: 60px;
}

header .container .mega-menu ul:first-of-type {
  margin-right: 60px;
}

header .container .mega-menu .col li {
  color: var(--MainColor);
  border-bottom: 1px solid #e9e6e6;
  padding-top: 10px;
  padding-right: 90px;
  padding-bottom: 10px;
  font-size: 18px;
}

header .container .mega-menu .col li i {
  margin-right: 10px;
}

header .container .mega-menu .col li a {
  color: var(--MainColor);
  text-transform: capitalize;
  font-weight: bold;
}

header .container > ul > li:last-child:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
} 

/* Responsiveness Styling */
@media (max-width: 992px) {
  header .container > ul > li .mega-menu img {
    display: none;
  }
  header .container > ul > li .mega-menu .col {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }
  header .container > ul > li > a {
    font-size: 14px;
    padding: 10px;
  }

  header .container ul li .mega-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  header .container .mega-menu ul:first-of-type {
    margin-right: 0;
  }
  header .container > ul > li .mega-menu .col {
    padding-left: 20px;
  }
}
/* Header End */
/* Landind Start */
.landing {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 60px);
}

.landing::before {
  content: "";
  position: absolute;
  background-color: #ececec;
  top: 0;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
}

.landing .container {
  position: relative;
}

.landing .container .content {
  display: flex;
}

.landing .container .content article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .container .content article div h2 {
  text-transform: capitalize;
  font-size: 40px;
  letter-spacing: -2px;
}

.landing .container .content article div p {
  color: #666;
  font-size: 23px;
  line-height: 1.7;
  font-weight: normal;
}

.landing .container .content img {
  width: 600px;
  margin-left: 30px;
  position: relative;
  top: 30px;
  animation-name: top-down;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes top-down {
  50% {
    top: -30px;
  }
  100% {
    top: 30px;
  }
}

.landing .container .arrows {
  position: absolute;
  left: 50%;
  bottom: -130px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  animation-name: arrow-p-change;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.landing .container .arrows:hover {
  animation-play-state: paused;
}

@keyframes arrow-p-change {
  25% {
    bottom: -110px;
  }
  50% {
    bottom: -130px;
  }
  65% {
    bottom: -110px;
  }
  80% {
    bottom: -130px;
  }
  100% {
    bottom: -130px;
  }
}

.landing .container .arrows i {
  color: var(--MainAlterColor);
  font-size: 30px;
  font-weight: bold;
}

/* Responsiveness Styling */
@media (max-width: 992px) {
  .landing .container .content img {
    display: none;
  }
  .landing .container {
    top: 50%;
    transform: translateY(-100%);
  }
  .landing .container .content article div {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .landing .container .content article div h2 {
    font-size: 28px;
  }
  .landing .container .content article div p {
    font-size: 18px;
  }
}
/* Landind End */
/* Article Start */
.article {
  padding-top: var(--MainSectionPaddingTop);
}

.article .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}

.article .container .content article {
  position: relative;
  top: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}

.article .container .content article:hover {
  top: -10px;
}

.article .container .content article:hover .footer i {
  animation-name: move-right;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

@keyframes move-right {
  100% {
    transform: translatex(10px);
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -ms-transform: translatex(10px);
    -o-transform: translatex(10px);
  }
}

.article .container .content article img {
  max-width: 100%;
}

.article .container .content article h3 {
  text-transform: capitalize;
}

.article .container .content article > p {
  color: #777;
}

.article .container .content article hr {
  margin: 15px 0;
  border:1px solid #e6e6e7;
}

.article .container .content article .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px;
}

.article .container .content article .footer p,
.article .container .content article .footer i {
  text-transform: capitalize;
  color: var(--MainColor);
  font-weight: bold;
}
/* Article End */
/* Gallery Start */
.gallery {
  margin-top: var(--SectionTopMargin);
  padding-top: var(--MainSectionPaddingTop);
  background-color: var(--SectionBackground);
}

.gallery .container {
  
}
/* Gallery End */