* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --MainColor: #2196f3;
  --MainAlterColor: #1787e0;
  --MainTransition: 300ms;
  --SectionBackground: #ececec;
  --MainLineHeight: 1.5;
  --BlackColor: #333;
  --HoveringBackground: #fafafa;
}

/* Global Rules */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small-Screen Container */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Med-Screen Container */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large-Screen Container */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header Start */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 10px; */
  height: 60px;
}

header .container > a {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--MainColor);
  height: 100%;
}

header .container > ul {
  display: flex;
  align-items: center;
  height: 100%;
}

header .container > ul > li  {
  text-transform: capitalize;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
}

/* header .container > ul > li > a {
  color: var(--BlackColor);
  padding: 30px;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
} */

/* header .container > ul > li > a::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--MainColor);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
} */

/* header .container > ul > li > a:hover::before {
  left: 0;
} */

/* header .container > ul > li > a:hover {
  background-color: var(--HoveringBackground);
  color: var(--MainColor);
} */

/* header .container > ul > li:not(:last-child) {
  position: relative;
} */

/* header .container .mega-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--MainColor);
  opacity: 0;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
} */

/* header .container .mega-menu img {
  margin-right: 60px;
} */

/* header .container .mega-menu ul:first-of-type {
  margin-right: 30px;
} */

/* header .container .mega-menu .col li {
  color: var(--MainColor);
  border-bottom: 1px solid #e9e6e6;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  font-size: 18px;
} */

/* header .container .mega-menu .col li i {
  margin-right: 10px;
} */

/* header .container .mega-menu .col li a {
  color: var(--MainColor);
  text-transform: capitalize;
} */

/* header .container > ul > li:last-child:hover + .mega-menu {
  opacity: 1;
  top: 15%;
}  */

/* Responsiveness Styling */
/* @media (max-width: 992px) {
  header .container ul li .mega-menu img {
    display: none;
  }
  header .container ul li .mega-menu {
    left: -100%;
  }
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }
  header .container > ul {
    max-width: 100%;
  }
  header .container > ul > li > a {
    font-size: 14px;
    padding: 10px;
  }
  header .container ul li .mega-menu img {
    display: none;
  }
  header .container ul li .mega-menu {
    left: -218%;
    width: 100%;
    flex-direction: column;
  }

  header .container ul li .mega-menu ul li {
    display: flex;
  }
} */
/* Header End */